body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.center-container {
    text-align: center;
}

.registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container{
    height: 60%;
    width:80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    line-height: 1.5;
}
table {
    width: 100%;
    border-collapse: 1px;
  }

  th, td {
    padding: 8px;
    border-bottom: 1px solid #1c8cb9;
    text-align: center;
  }

  th {
    background-color: #9c36bc;
    color: #fff;
  }

